# Dependencies
**/node_modules/

# Build outputs
**/dist/

# Env files
**/.env

# Test outputs
**/coverage/

# Logs
**/*.log

# DB dump artifacts
*.dump

# Local pgAdmin data (docker volume)
pgadmin-data/
