node_modules/
dist/
/.env
.env.local
.env.*.local
.env.production
.env.development
!.env.example

coverage/
*.log

/src/generated/prisma



/src/generated/prisma

pgadmin-data/

/src/generated/prisma
