@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme */
    --sidebar-background: 215 25% 15%;/*Màu nền sidebar, rất tối, gần màu xanh đen*/
    --sidebar-foreground: 210 20% 85%;/*Màu chữ trên sidebar*/
    --sidebar-primary: 185 85% 42%;/*Màu cho active status*/
    --sidebar-primary-foreground: 0 0% 100%;/*màu chữ trên nền active*/
    --sidebar-accent: 215 25% 20%;/*màu khi hover*/
    --sidebar-accent-foreground: 210 20% 90%;/*màu chữ khi hover*/
    --sidebar-border: 215 25% 22%;/*màu border sidebar*/
    --sidebar-ring: 185 85% 42%;

    --card-background: 0 0% 100%; /* Màu nền của thẻ (card) */
    --card-title: 215 28% 17%; /* Màu chữ*/
    --card-border: 220 13% 91%; /* Màu border của thẻ (card) */
    --card-content: 215 16% 47%; /* Màu chữ nội dung */

    --primary: 185 85% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 95%;
    --secondary-foreground: 215 25% 15%;

    --accent: 185 75% 92%;
    --accent-foreground: 185 85% 35%;

    --destructive: 0 75% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --background: 210 17% 98%;
    --foreground: 215 25% 15%;

    --border: 214 20% 90%;
    --input: 214 20% 90%;
    --ring: 185 85% 42%;
  }

  /* DARK THEME */
}
